{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col">
    <p>
      <h1>Form</h1>
    </p>
    <form method="POST" action="{{url_for('submit')}}">
      <div class="form-row">
        <div class="col-12 mt-3">
        <input type="text" class="form-control" name="firstname" placeholder="First name">
        </div>
        <div class="col-12 mt-3">
        <input type="text" class="form-control" name="lastname" placeholder="Last name">
        </div>
        <div class="col-12 mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}